@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: absolute;
  top: 0;
  background-color: #e4e6e9;
  width: 100%;
}
::selection {
  background-color: #77b2ff!important;
  color: auto!important;
}